



/* .inputStarReview {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
    margin-right: 25.5%
} */


.inputReview {
    margin-left: 25.5%;

}

.inputReview2 {
    margin-left: 25.5%;

}
