@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

 
.app {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  background-image: url("../Components/assets/van-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.appHeader 
  {
    text-transform: uppercase;
  }


  

